h1, p {
    font-family: "Times New Roman", Times, serif;

  }

  body {
    background-color: #ebf4d0;
  }
  
  h1 {
    display: flex;
  justify-content: center;
    text-align: center;
    background-color: #eb9e9e;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }

  /* .button {
    text-align: center;

  } */
  /* div {
    background-color: #d5f4e6;
  } */
  
  span {
    background-color: #f89c89;
   
  }

  .center {
    font-size: 25px;
    flex-direction: column;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 8px solid rgb(45, 47, 48);
  }
  



  button {
    margin-bottom: 40px;
    border-radius: 4px;
    
     background-color: #a7d9d9;
     /* Green */
  border: 3px solid black;
  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: #d46917; /* Green */
  color: rgb(22, 22, 22);
}
