.container{
    text-align: center;
    margin-top:20px
}


table{
    margin: auto;
}
body {
    background-color: #c5d1a2;
  }

input{
    background-color: #7c7979;
    border-radius: 15px;
    border: 5px solid #eff8f8;
    font-size:34px;
    height: 65px;
    width: 456px;
}

/* buttonbox{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    border-radius: 90px;
    font-size: 40px;
    background: #a6c758;
    width: 70px;
    height: 70px;
    margin: 6px;
    transition-duration: 0.4s;

} */


button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    border-radius: 90px;
    font-size: 40px;
    background: #a6c758;
    width: 70px;
    height: 70px;
    margin: 6px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #ac2452; /* Green */
    color: rgb(22, 22, 22);
  }
  

.calculator{ 
    border: 8px solid #040404;
    background-color: #444244;
    padding: 19px;
    border-radius: 5px;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Ubuntu';font-size: 40px;
}

h1 {
    display: flex;
  justify-content: center;
    text-align: center;
    background-color: #876767;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }

  h1:hover {
    background-color: #a4a375; /* Green */
    color: rgb(22, 22, 22);
  }

